[submodule "references/AdGuardHome"]
	path = references/AdGuardHome
	shallow = true
	url = https://github.com/AdguardTeam/AdGuardHome.git
	branch = master
[submodule "references/opentofu"]
	path = references/opentofu
	shallow = true
	url = https://github.com/opentofu/opentofu.git
	branch = main
[submodule "references/cloudflared"]
	path = references/cloudflared
	shallow = true
	url = https://github.com/cloudflare/cloudflared.git
	branch = master
[submodule "references/terraform-provider-cloudflare"]
	path = references/terraform-provider-cloudflare
	shallow = true
	url = https://github.com/cloudflare/terraform-provider-cloudflare.git
	branch = main
[submodule "references/terraform-provider-bitwarden-secrets"]
	path = references/terraform-provider-bitwarden-secrets
	shallow = true
	url = https://github.com/bitwarden/terraform-provider-bitwarden-secrets.git
	branch = main
[submodule "references/bitwarden-sdk-sm"]
	path = references/bitwarden-sdk-sm
	shallow = true
	url = https://github.com/bitwarden/sdk-sm.git
	branch = main
[submodule "references/coolify"]
	path = references/coolify
	shallow = true
	url = https://github.com/coollabsio/coolify.git
	branch = v4.x
[submodule "references/authelia"]
	path = references/authelia
	shallow = true
	url = https://github.com/authelia/authelia.git
	branch = master
