#!/usr/sbin/nft -f
flush ruleset

table inet filter {
    chain input {
        type filter hook input priority filter; policy drop;

        ct state established,related accept
        iif "lo" accept
        ip protocol icmp accept
        ip6 nexthdr icmpv6 accept

        # SSH from LAN
        tcp dport 22 ip saddr ${LAN_CIDR} accept

        # DNS server - open to LAN (UDP+TCP)
        udp dport 53 ip saddr ${LAN_CIDR} accept
        tcp dport 53 ip saddr ${LAN_CIDR} accept

        # AdGuard HTTP UI :3000 - ONLY from gateway LXC
        tcp dport 3000 ip saddr ${IP_GATEWAY} accept
    }
    chain forward { type filter hook forward priority filter; policy drop; }
    chain output  { type filter hook output  priority filter; policy accept; }
}
